
# ============================
# OS
# ============================
.DS_Store
Thumbs.db

# ============================
# Node.js
# ============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log
.vscode/
projects/

# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# ============================
# Java
# ============================
*.class
*.jar
*.war
*.ear
target/
build/

# ============================
# site
# ============================
site/build/
site/dist/
site/.cache/
site/.DS_Store

# ============================
# doc / temp
# ============================
*.log
*.tmp
*.swp
*.swo

# ============================
# config
# ============================
*.local
.env.local
*.secret
